body {
  margin: auto;
  text-align: center;
  font-family: 'mitr', sans-serif;
}

.text {
 color: rgb(255, 255, 255);
}

.logo {
margin-top: 45px;
margin-bottom: 20px;
}

.panprofile {
  border-radius: 80%;
  margin-top: 95px; 
} 


h1 {
  font-size: 36px;
}


h2 {
  font-size: 22px;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}


h5 {
  color: rgb(74, 74, 74);
  line-height: 14px;
  font-size: 18px;
}


.year {
  color: rgb(238, 148, 14);
  text-align: center;
  margin-bottom: auto;
}

.infor {
  margin: 0 auto;
  text-align: left;
}

.sysp {
  margin-left: 36%;
  text-align: left;
}


.work{
  line-height: 22px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.skill {
  line-height: 22px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

td, tfoot th, thead td, thead th {
  padding: 5px;
  text-align: left;

}

.contact {
  border: none;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  background-color: rgb(0, 156, 125);
  margin-bottom: 100px;
}


hr {
  margin: auto;
  margin-top: 110px;
  margin-bottom: 110px;
  border-color:grey;
  border-width:5px;
  border-style: dotted none none;
  width: 10%;
  text-align: center;
  }
  
.social ul{
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.social ul li{
    display: inline;
    background: rgba(255, 255, 255, 0.901);
    padding: 10px;
    border-radius: 40%;
    cursor: pointer;
    transition: background 150ms ease-in-out;
}
.social ul li:hover {
  background: #ccc;
}
  
 


